

      /* by setting the position as fixed, it locks the navbar to the top of the page */

/* .navbar {
    background-color: #fffbf0;
    position: fixed;
    font-family: "Lucida Console", Courier, monospace;
}  */

.navbar {
    display: flex;
    overflow: hidden;
    background-color: #fffbf0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navbar a {
    float: left;
    display: block;
    color: #b6977d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Lucida Console", Courier, monospace;
  }
  
  /* .navbar a:hover {
    background: #ddd;
    color: black;
  } */
  
  .main {
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    padding: 16px;
    margin: 150px 50px;
    height: 1500px; /* Used in this example to enable scrolling */
  }

.navbar li {
    display: inline-block;
    padding: 0 20px;
}

.avatar {
    border-radius: 100%;
    display: inline-block;
    filter:drop-shadow(1px 1px 1px peachpuff);
    vertical-align: middle;
}

#logo {
    width:50px;
    height:50px;
    border-radius: 50%;
}

.underline-on-hover:hover {
  text-decoration: underline;
}
.images { 
  top:-50px; 
  left:-35px; 
  display:block; 
  z-index:999; 
  cursor: pointer; 
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
  } 
  
  /*change the number below to scale to the appropriate size*/ 
  .images:hover { 
  transform: scale(1.1); 
  
  }